pip
autopep8
Flask==3.0.3
gunicorn==22.0.0
Werkzeug==3.0.6
fastapi
uvicorn
pydantic
python-dotenv
datasets
qdrant-client
langchain==0.1.16
langchain-google-genai==0.0.6
langchain-community==0.0.32
langgraph==0.0.37
langchain-tavily==0.0.3
nemoguardrails==0.8.0

